**/node_modules/*
**/out/*
**/.next/*
.git
.github
.next
.vscode
charts
coverage
css
mountebank
node_modules
openshift
production-server
public
storybook-static
.build-npmrc
.env
.envSecrets.js
Dockerfile
Jenkinsfile
Makefile
